S3method(coef,l2boost)
S3method(fitted,l2boost)
S3method(l2boost,default)
S3method(l2boost,formula)
S3method(plot,l2boost)
S3method(predict,l2boost)
S3method(print,l2boost)
S3method(residuals,l2boost)
export(cv.l2boost)
export(elasticNetSim)
export(l2boost)
export(mvnorm.l2boost)
importFrom(MASS,mvrnorm)
importFrom(parallel,mclapply)
